client/target/
.settings/
*.classpath
*.project
*.db
target/
bin/
out/
*.iml
*.ipr
*.iws
*.ids
*.log
*.bak
.idea/
.gradle/
.groovy/
build/
**/atlassian-ide-plugin.xml
atlassian-ide-plugin.xml
.directory
classes/
~
